html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1 {
  text-align: center;
}

.rectangle {
  background-color: #464646;
  width: 238px;
  height: 325px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px black;
  /* box-shadow: 0 8px 8px -4px red; */
  margin: auto;
}

.display {
  width: 215px;
  height: 50px;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 39px;
  border-radius: 10px;
}

.rectangleButtons {
  width: 238px;
  height: 248px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

button {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  cursor: pointer;
  border-radius: 0;
  border-style: none;
  background-color: #585858;
  color: white;
  box-shadow: 0 0 0 1px black;
  width: 59px;
  height: 49px;
}

button:hover {
  background-color: #3e3d3d;
}

button:active {
  box-shadow: 0 1px #6e6c6c;
  transform: translateY(-0.5px);
}

.clear {
  padding: 12px 53px 12px 54px;
  width: 177px;
  height: 55px;
}

.operator {
  background-color: #a1689c;
}

.divide {
  padding: 12px 22px 12px 21px;
  width: 61px;
  height: 55px;
}

.multiply {
  padding: 12px 22px 12px 21px;
  width: 61px;
  height: 49px;
}

.subtract {
  width: 61px;
  height: 49px;
}

.add {
  width: 61px;
  height: 49px;
}

.equals {
  width: 61px;
  height: 49px;
  border-radius: 0px 0px 10px 0px;
}

.numbers {
  padding: 9px 21px 9px 21px;
}

.zero {
  border-radius: 0px 0px 0px 10px;
  width: 118px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #191825;
  text-align: center;
  padding: 20px;
  font-size: 12px;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: white;
}
